In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

# Q1

In [6]:
s = Service('D:/Data_Science/chromedriver_win32/chromedriver.exe')
#driver = webdriver.Chrome(r"D:/Data_Science/chromedriver_win32/chromedriver.exe")
driver = webdriver.Chrome(service=s)

In [7]:
#Getting the Webpage
driver.get('https://www.naukri.com/')

In [8]:
#Entering the Skill, Designations, Companies field and location field
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_7712/1879962732.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_id('qsb-keyword-sugg')
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_7712/1879962732.py:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")

In [9]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_7712/409451389.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [10]:
#scrapped url from above cmd
url = "https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [11]:
driver.get(url)

In [12]:
#Getting title tags details
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tag=titles_tags[0:10]
titles_tag

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_7712/2378894503.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="b6378510-f2ca-43a7-883f-f105fe8ad329")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="b4abfa73-06cd-4892-8c0b-d399ccf1313d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="02064986-8380-4948-a87a-30b954578461")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="aa8a09d2-3798-4c3d-be49-427d6210f879")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="6bec6980-f46c-4173-8b96-6fc7074a54b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="24f67840-74a7-46a7-8772-08c0c9bb54ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="02fcbd86-22e0-42ee-bb30-7e9a81b22655")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="a07243c4-1b8f-4974-96a0-703ef0c9a623")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="f4afcf57-a4ca-4d8e-a292-df14a8c4a5b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="08e3caa6-5bdc-4359-84e3-a1702c147bca")>]

In [13]:
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [14]:
#Getting titles
for i in titles_tag:
    title=i.text
    job_titles.append(title)
job_titles

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Senior Data Analyst III',
 'Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory)',
 'Customer Data Management Analyst',
 'Data Analyst',
 'Assistant/deputy Manager - Geo-spatial Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Openings For SQL Data Analyst']

In [15]:
#Getting Company tags detail
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tag=companies_tags[0:10]
companies_tag

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_7712/2326937980.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="de670120-8a60-46d4-b32b-785f405af96f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="2ea117a1-6f4d-4e4a-b0e5-2128b4bd6c46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="c6422381-3eba-4b04-ba03-a6a4c17c0488")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="393dd9c1-c980-480f-8a41-4f8850285496")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="0126e169-dbbc-4627-95ca-9b70e556cb75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="aff6584b-a08e-4c5c-8bf3-acce4a1ddfe1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="40801135-ff3a-41a9-97a7-bb523df88f35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="2423a1cc-ea75-400f-90f8-4150113093dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="2492da54-1d6f-414b-836b-e5d4c3b5edce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="f14cc26d-15fa-4e7c-9dd2-7ac77fc4c7cc")>]

In [16]:
#Getting Company name
for i in companies_tag:
    company_name=i.text
    company_names.append(company_name)
company_names

['Flipkart',
 'Flipkart',
 'Genpact',
 'Aspect',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Maruti Suzuki India',
 'Rapido',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'Flipkart',
 'StackNexus Technologies India Pvt. Ltd']

In [17]:
#Getting eprience tags details
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tag=experience_tags[0:10]
experience_tag

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_7712/1036964600.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="a2ca196f-7ade-4bb7-a876-0f8f7ab9da34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="33750503-ef25-4dd0-ac59-de4ad5fbac53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="18adfa51-1c0b-43ef-8dd3-809f1a0503c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="c1b56ffe-a1b7-4b80-9f60-fe0145074164")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="1b26e223-ef08-4269-bc2f-af4346962ab2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="40bc42b9-a9ef-40be-8ce9-e9626571a818")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="80f222fc-b77c-4fba-9a01-dcdda8f244be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="f86f09c3-9c49-4c97-b339-a3d17638b36c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="1fbb8b4b-f542-4e44-9c3a-a7e6201a2d3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="732ffcbe-c9a2-4dc6-b201-45e0b11a3491")>]

In [18]:
#Getting Experience details
for i in experience_tag:
    experience=i.text
    experience_list.append(experience)
experience_list

['1-6 Yrs',
 '2-4 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '1-6 Yrs',
 '5-10 Yrs',
 '4-5 Yrs',
 '3-6 Yrs']

In [19]:
#Getting Location tags details
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tag=location_tags[0:10]
location_tag

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_7712/2258631003.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="04a8294c-d6ac-4e10-8c02-243767a27561")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="f1149665-ed5d-418a-ad3e-f9607c08bc34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="f530dbde-2e5b-450d-be14-609d258c8c65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="2bdd4344-038f-4539-a8a3-603ea3e29d03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="f7f9aa12-cb37-4d4e-a9c7-3d0fb48984a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="5504303f-28ee-4a43-9373-7ca35b1981fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="fb13cf8b-458a-4f70-95f1-275d78c00932")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="4dc49130-a9bd-4632-b181-8ff17330ce64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="8a4e9396-d1ff-4d41-845d-15471476f595")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e5fe2bc2ee83162786da25129613dbbe", element="dee7bd06-7976-4751-b67a-f2fe0491259f")>]

In [20]:
#Getting location details
for i in location_tag:
    location=i.text
    location_list.append(location)
location_list

['Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, bangalore',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bengaluru/Bangalore',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [21]:
print(len(job_titles),len(company_names),len(experience_list),len(location_list))

10 10 10 10

In [22]:
#Creating a Dataframe
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['location']=location_list
jobs['company']=company_names
jobs['experience required']=experience_list

In [23]:
#Display data in DataFrame
jobs

,title,location,company,experience required
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Bangalore/Bengaluru,Flipkart,1-6 Yrs
1,Senior Data Analyst III,Bengaluru/Bangalore,Flipkart,2-4 Yrs
2,Business Analyst/ Data Analyst- Capital Market...,"Pune, Bangalore/Bengaluru",Genpact,7-12 Yrs
3,Customer Data Management Analyst,Bangalore/Bengaluru,Aspect,0-2 Yrs
4,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs
5,Assistant/deputy Manager - Geo-spatial Data An...,"Gurgaon/Gurugram, bangalore",Maruti Suzuki India,3-5 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Rapido,1-6 Yrs
7,Senior Data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",SYREN TECHNOLOGIES PRIVATE LIMITED,5-10 Yrs
8,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,4-5 Yrs
9,Openings For SQL Data Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru",StackNexus Technologies India Pvt. Ltd,3-6 Yrs

In [24]:
driver.close()

# Q2

In [36]:
s = Service('D:/Data_Science/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome(service=s)

In [37]:
#Getting the Webpage
driver.get('https://www.naukri.com/')

In [38]:
#Entering the Skill, Designations, Companies field and location field
searc_job = driver.find_element_by_id('qsb-keyword-sugg')
searc_job.send_keys('Data Scientist')
searc_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
searc_loc.send_keys('Bangalore')

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/815467617.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  searc_job = driver.find_element_by_id('qsb-keyword-sugg')
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/815467617.py:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  searc_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")

In [39]:
searc_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
searc_btn.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/2120614705.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  searc_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [43]:
#scrapped url from above cmd
url = "https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"
driver.get(url)

In [44]:
#Getting title tags details
tit_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
tit_tag=tit_tags[0:10]
tit_tag

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/2524889971.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  tit_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="3352c9cf-ace8-40d9-95a5-83661cc2f470")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="15bbe207-f6ec-4eb2-99ce-9f57c6b54bcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="f237907d-ffc6-47ce-8f12-10326baf6e68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="41e738ee-4f0d-4ae1-b89f-35f827ead3d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="4b5334ea-9696-4167-a58a-30300ace7c10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="f4892ce7-3efc-4b1c-92ee-f87d19fe5205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="3c0fc05d-c379-45bc-8839-4e0860a04129")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="44d684e1-4251-4eba-9b2b-0029ad0d1c75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="aaef85a4-9581-46a3-ba49-f00871ee3386")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="8bbe87f7-01ca-4e40-b041-e5124bf59492")>]

In [49]:
job_tit=[]
location_det=[]
comp_name=[]

In [50]:
#Getting titles
for i in tit_tag:
    title=i.text
    job_tit.append(title)
job_tit

['Data Scientist',
 'Data Science - Senior Data Scientist',
 'Lead / Principal Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - Credit Risk',
 'Lead/Senior Data Scientist (NLP)',
 'Data Scientist',
 'Data Scientist',
 'Advanced Analytics Expert - Data Scientist']

In [51]:
#Getting Company tags detail
compan_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
compan_tag=compan_tags[0:10]
compan_tag

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/3024142880.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  compan_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="9ae5f646-c3a9-417a-bbf1-ef5fbdd0da47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="5616079a-ecad-40bd-ad71-6ed6e0888771")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="734850a6-687b-437c-883b-7bea123ea8e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="55cc1dd3-3b45-413c-983b-166ae102c4f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="f45649f2-b350-432e-b8db-47e45f456656")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="aab1a974-0a6b-42cf-ba38-b1830d826df0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="ba53498a-a80f-43b6-8286-c042e7822642")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="910aa39e-a264-4d99-b16a-ec7b61ff88b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="740e3a0a-bf56-4e93-b412-54e05c4d16a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="fd324d9a-0eff-4aa5-9c89-aa00ac08b3eb")>]

In [52]:
#Getting Company name
for i in compan_tag:
    company_name=i.text
    comp_name.append(company_name)
comp_name

['Snaphunt',
 'Paytm',
 'Aviso Inc',
 'Ally-Executive',
 'Visa',
 'Scienaptic Systems',
 'Samya.AI A FRACTAL Entity',
 'Truecaller',
 'Slice',
 'Hewlett-Packard']

In [54]:
#Getting Location tags details
locat_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locat_tag=locat_tags[0:10]
locat_tag

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/2964201348.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  locat_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="2d507657-8b50-4282-b191-789b36b2f1f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="16baa286-f692-4d06-93fc-f8c3f66fa067")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="baaeddb8-bcea-480e-869f-acd6eb1db18c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="b2e17fc2-b2c1-4189-b16d-65e7d0c5d2f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="cd9679e5-f581-4434-b9c8-a3514a99b4cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="58de66fe-846c-43f5-9212-ad89de47f6b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="af69a307-4220-40c5-ba3c-a810866ec748")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="b491f377-012b-4d34-be05-7be02b7706d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="ab36a8a8-565c-409f-9b7f-bef187d24d81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c378d320a423503768013648f7c20b0c", element="537134c2-97ca-4698-966a-d5ecb7cf74ce")>]

In [55]:
#Getting location details
for i in locat_tag:
    location=i.text
    location_det.append(location)
location_det

['Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Delhi / NCR, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Bangalore']

In [56]:
print(len(job_tit),len(location_det),len(comp_name))

10 10 10

In [57]:
#Creating a Dataframe
job=pd.DataFrame({})
job['title']=job_tit
job['location']=location_det
job['company']=comp_name

In [60]:
#Display data in DataFrame
job

,title,location,company
0,Data Scientist,Bangalore/Bengaluru,Snaphunt
1,Data Science - Senior Data Scientist,"Noida, Bangalore/Bengaluru",Paytm
2,Lead / Principal Data Scientist,"Mumbai, Hyderabad/Secunderabad, Pune, Delhi / ...",Aviso Inc
3,Senior Data Scientist,Bangalore/Bengaluru,Ally-Executive
4,Senior Data Scientist,Bangalore/Bengaluru,Visa
5,Data Scientist - Credit Risk,Bangalore/Bengaluru,Scienaptic Systems
6,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru,Samya.AI A FRACTAL Entity
7,Data Scientist,Bangalore/Bengaluru,Truecaller
8,Data Scientist,Bangalore/Bengaluru,Slice
9,Advanced Analytics Expert - Data Scientist,"Bangalore/Bengaluru, Bangalore",Hewlett-Packard

# Q3

In [119]:
s = Service('D:/Data_Science/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome(service=s)

In [120]:
#Getting the Webpage
driver.get('https://www.naukri.com/')

In [121]:
#Entering the Skill, Designations, Companies field
sear_job = driver.find_element_by_id('qsb-keyword-sugg')
sear_job.send_keys('Data Scientist')

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/3277451212.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sear_job = driver.find_element_by_id('qsb-keyword-sugg')

In [122]:
#Clinking on button
searc_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
searc_btn.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/4231660479.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  searc_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [125]:
#Filter on location
loc_filter = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]')
loc_filter.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/3268849649.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc_filter = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]')

In [126]:
#Filter on Salary
sal_filter = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
sal_filter.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/2931086313.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sal_filter = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')

In [127]:
job_ti=[]
comp_names=[]
locat_list=[]
exper_list=[]

In [130]:
#Getting title tags details
tit_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
tit_tag=tit_tags[0:10]
tit_tag

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/2524889971.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  tit_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

[<selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="bb820c7e-af6f-4e7e-8bf1-1a0a3dd70265")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="9fbceed6-b787-4258-b4f0-980aa02de726")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="58a4d616-da8b-4931-81b8-821058eb1122")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="bf0857b7-f41a-49fc-8e5d-1f16a548fcf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="f11f2d06-4915-4201-9c89-2216c7e40827")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="253d62bf-231b-48f3-bb0a-7f41b1f5923c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="2ca43b06-29e8-4310-87b7-9bd5dab6d372")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="a81d4ac1-f7a9-45fb-a5ff-ff60801e70d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="c883190a-fe98-48e7-9618-159b9332385b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="5c45483d-0d84-46e7-a49e-bca10cd79af6")>]

In [131]:
#Getting titles
for i in tit_tag:
    title=i.text
    job_ti.append(title)
job_ti

['Data Scientist',
 'Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist/ Senior Data Scientist',
 'Project Manager | Team Leader | Senior Data Scientist',
 'Data Scientist',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'NTT DATA_ Hiring For BIG DATA ,DATA Scientist, Devops',
 'Data Scientist',
 'Immediate requirement For Data Scientist']

In [132]:
#Getting Company tags detail
comp_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp_tag=comp_tags[0:10]
comp_tag

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/2151417610.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

[<selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="0c8210e9-aa38-430d-a758-9bb039e8b1ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="68e4ef14-786d-4a1f-bd61-dbbbee231309")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="6724302e-4aa7-4058-b753-c9c2ca2260b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="0df82caf-f269-472f-8193-acd0cc6550ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="acd71442-ba2d-48a2-b871-28404f908a89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="fe327ee6-a8bb-4334-853d-95e4ebdff711")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="d36b4521-9939-40e1-afe7-8866a20cf65b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="95547dd5-16fc-46dc-9537-a098967f7158")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="6fc210e3-8358-4b49-acd6-77d854265b68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="5e7465b1-03c4-47f8-83b7-c97c39f30866")>]

In [133]:
#Getting Company name
for i in comp_tag:
    company_name=i.text
    comp_names.append(company_name)
comp_names

['LG Electronics India Pvt. Ltd.',
 'Navikenz India Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'Newgen Software Technologies',
 'Tidyquant (OPC) Private Limited',
 'Teleperformance',
 'HCL Technologies',
 'NTT Data Business Solutions Pvt Ltd',
 'Country Veggie',
 'CALIBEHR BUSINESS SUPPORT SERVICES PRIVATE LIMITED']

In [134]:
#Getting eprience tags details
exper_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exper_tag=exper_tags[0:10]
exper_tag

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/3688673977.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exper_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="b388d98e-bacb-4706-9b84-e46176fc63bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="0802603d-d1d3-4dd8-9966-6546c0c089d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="e192f652-e323-4bd3-be8d-15762de1a543")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="8baae764-a514-43f3-b775-0eaac0e13495")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="1a42045b-791a-4ceb-ae27-c2c7982537af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="5ba2c2e2-0aa2-4736-a616-e6bb95f68324")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="8ca4a93f-ca08-4746-99f0-07dbf6bd0e94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="ee802441-45e1-4f3e-9566-68fcc597893b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="bdbeef3f-011f-455d-813b-fc831a14ef92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="6b2ea2ab-6906-485e-9905-3b8eabf2cf5c")>]

In [135]:
#Getting Experience details
for i in exper_tag:
    experience=i.text
    exper_list.append(experience)
exper_list

['0-2 Yrs',
 '2-7 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '1-5 Yrs',
 '4-9 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '2-7 Yrs']

In [136]:
#Getting Location tags details
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tag=loc_tags[0:10]
loc_tag

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6040/3870949741.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

[<selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="69d95fcd-fc27-44d3-858d-985888948929")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="f4061b13-9196-4f82-8abf-7bc44e5ec1a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="86c63bfa-64a5-491a-b05a-6c742636f625")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="ae7c43ef-c10d-4c07-b42c-b154b80b361f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="5418f81d-33d7-41a9-8910-2df4b58ca634")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="9bbf66d6-3ca7-4c70-a582-cd0b23d3328f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="bdef4b93-1994-482a-befe-21501526a28d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="1b3ed1e0-4b0b-41c4-8cbf-64245780c719")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="87052be2-f20d-4df5-b96f-6d319fc25f08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d41e3e62f1f0ce6acfdd1639dacce40", element="cffafc68-d403-4d37-b3b7-8964dc951291")>]

In [137]:
#Getting location details
for i in loc_tag:
    location=i.text
    locat_list.append(location)
locat_list

['Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Nodia',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida',
 'Remote',
 'Gurgaon/Gurugram, Chennai',
 'Delhi / NCR',
 'Noida, Kolkata, Hyderabad/Secunderabad, Ahmedabad, Chennai, Coimbatore, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Tamia, Bangalore/Bengaluru, Delhi / NCR']

In [138]:
print(len(job_ti),len(comp_names),len(exper_list),len(locat_list))

10 10 10 10

In [140]:
#Creating a Dataframe
job_new=pd.DataFrame({})
job_new['title']=job_ti
job_new['location']=locat_list
job_new['company']=comp_names
job_new['experience required']=exper_list

In [141]:
job_new

,title,location,company,experience required
0,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2 Yrs
1,Data Scientist,"Noida, Nodia",Navikenz India Pvt Ltd,2-7 Yrs
2,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9 Yrs
3,Data Scientist/ Senior Data Scientist,Noida,Newgen Software Technologies,2-5 Yrs
4,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited,1-5 Yrs
5,Data Scientist,"Gurgaon/Gurugram, Chennai",Teleperformance,4-9 Yrs
6,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL Technologies,2-6 Yrs
7,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...","Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda...",NTT Data Business Solutions Pvt Ltd,3-8 Yrs
8,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
9,Immediate requirement For Data Scientist,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",CALIBEHR BUSINESS SUPPORT SERVICES PRIVATE LIM...,2-7 Yrs

# Q4

In [4]:
s = Service('D:/Data_Science/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome(service=s)

In [5]:
#Getting the Webpage
driver.get('https://www.flipkart.com/')

In [6]:
cls_btn = driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
cls_btn.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/1139497511.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cls_btn = driver.find_element_by_xpath("//div[@class='_2QfC02']/button")

In [7]:
#Entering the product
search_prod = driver.find_element_by_xpath("//input[@name='q']")
search_prod.send_keys('sunglasses')

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/163890806.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_prod = driver.find_element_by_xpath("//input[@name='q']")

In [8]:
search_bar = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_bar.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/2620359872.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_bar = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [9]:
brand_list=[]
pd_list=[]
price_list=[]
off_list=[]

In [10]:
if (len(brand_list) < 40):
    brand_tags2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags2:
        brand=i.text
        brand_list.append(brand)
    #brand_list
    price_tags2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for j in price_tags2:
        price=j.text.replace('₹','')
        price_list.append(price)
    #price_list
    pd_tags2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for k in pd_tags2:
        pd=k.text
        pd_list.append(pd)
    #pd_list
    off_tags2=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for l in off_tags2:
        off=l.text
        off_list.append(off)
    #off_list
    next_btn = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')[-1]
    next_btn.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/371066189.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand_tags2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/371066189.py:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/371066189.py:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pd_tags2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/371066189.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  off_tags2=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/371066189.py:22: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  next_btn = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')[-1]

In [11]:
if (len(brand_list) < 80):
    brand_tags2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags2:
        brand=i.text
        brand_list.append(brand)
    #brand_list
    price_tags2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for j in price_tags2:
        price=j.text.replace('₹','')
        price_list.append(price)
    #price_list
    pd_tags2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for k in pd_tags2:
        pd=k.text
        pd_list.append(pd)
    #pd_list
    off_tags2=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for l in off_tags2:
        off=l.text
        off_list.append(off)
    #off_list
    next_btn = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')[-1]
    next_btn.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/2755522774.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand_tags2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/2755522774.py:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/2755522774.py:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pd_tags2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/2755522774.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  off_tags2=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/2755522774.py:22: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  next_btn = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')[-1]

In [12]:
if (len(brand_list) < 120):
    brand_tags3=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags3:
        brand=i.text
        brand_list.append(brand)
    #brand_list
    price_tags3=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for j in price_tags3:
        price=j.text.replace('₹','')
        price_list.append(price)
    #price_list
    pd_tags3=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for k in pd_tags3:
        pd=k.text
        pd_list.append(pd)
    #pd_list
    off_tags3=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for l in off_tags3:
        off=l.text
        off_list.append(off)
    #off_list

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/3033805192.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand_tags3=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/3033805192.py:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags3=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/3033805192.py:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pd_tags3=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_1724/3033805192.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  off_tags3=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [13]:
#print(list(price_list))
#print(len(brand_list),len(price_list),len(pd_list),len(off_list))
brand_list_100=brand_list[0:100]
price_list_100=price_list[0:100]
pd_list_100=pd_list[0:100]
off_list_100=off_list[0:100]

In [14]:
print(len(brand_list_100),len(price_list_100),len(pd_list_100),len(off_list_100))

100 100 100 100

In [17]:
import pandas as pd
sun_glas=pd.DataFrame({})
sun_glas['Brand']=brand_list_100
sun_glas['Product Description']=pd_list_100
sun_glas['Price']=price_list_100
sun_glas['Off']=off_list_100

In [18]:
sun_glas

,Brand,Product Description,Price,Off
0,Kanishka,UV Protection Aviator Sunglasses (55),165,86% off
1,Kanishka,Others Round Sunglasses (55),151,84% off
2,SRPM,UV Protection Wayfarer Sunglasses (56),188,85% off
3,Elligator,UV Protection Round Sunglasses (54),248,90% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),259,87% off
...,...,...,...,...
95,VINCENT CHASE,UV Protection Wayfarer Sunglasses (55),999,50% off
96,PHENOMENAL,"UV Protection, Others Retro Square Sunglasses ...",299,85% off
97,hipe,"Riding Glasses, UV Protection, Others Aviator ...",189,85% off
98,SRPM,UV Protection Cat-eye Sunglasses (55),199,80% off
99,ROYAL SON,"UV Protection, Mirrored Wayfarer Sunglasses (53)",664,55% off

In [19]:
driver.close()

# Q5

In [2]:
s = Service('D:/Data_Science/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome(service=s)

In [3]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'

In [4]:
driver.get(url)

In [5]:
allreview_btn = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
allreview_btn.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6424/2468087471.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  allreview_btn = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")

In [13]:
rating_list=[]
review_summary=[]
full_review=[]

In [14]:
import time
#counter=1
while (len(rating_list) < 100 or len(review_summary) < 100 or len(full_review) < 100):
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating_tags:
        rating=i.text
        rating_list.append(rating)
#rating_list[0:4]
    revsum_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for j in revsum_tags:
        rev=j.text.replace('\n',' ')
        review_summary.append(rev)
#review_summary
    frev_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for k in frev_tags:
        frev=k.text.replace('\n',' ')
        full_review.append(frev)
#rating_list[0:4]
    
   # if ( ):
    next_btn = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')[-1]
    next_btn.click()
    time.sleep(5) 
        #counter=counter+1

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6424/380673545.py:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6424/380673545.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  revsum_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6424/380673545.py:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  frev_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6424/380673545.py:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  next_btn = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')[-1]

In [15]:
import pandas as pd
iphone_r=pd.DataFrame({})
iphone_r['Rating']=rating_list[0:100]
iphone_r['Review_summary']=review_summary[0:100]
iphone_r['Full review']=full_review[0:100]

In [16]:
iphone_r

,Rating,Review_summary,Full review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
96,3,Awesome,The phone is completely good As far as camera ...
97,5,Decent product,Everything u ll like it when u use this iPhone...
98,5,Awesome,Can’t beat the software and hardware integrati...
99,5,Does the job,phone is good but in display is 720p lcd in th...

In [17]:
driver.close()

# Q6

In [18]:
s = Service('D:/Data_Science/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome(service=s)

In [19]:
#Getting the Webpage
driver.get('https://www.flipkart.com/')

In [20]:
cls_btn = driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
cls_btn.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6424/1139497511.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cls_btn = driver.find_element_by_xpath("//div[@class='_2QfC02']/button")

In [21]:
#Entering the product
search_prod = driver.find_element_by_xpath("//input[@name='q']")
search_prod.send_keys('sneakers')

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6424/118174598.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_prod = driver.find_element_by_xpath("//input[@name='q']")

In [22]:
search_bar = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_bar.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6424/2620359872.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_bar = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [25]:
sbrand_list=[]
spd_list=[]
sprice_list=[]
soff_list=[]

In [26]:
import time
while (len(sbrand_list) < 100 or len(spd_list) < 100 or len(sprice_list) < 100 or len(soff_list) < 100):
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags:
        brand=i.text
        sbrand_list.append(brand)
    #sbrand_list
    price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for j in price_tags:
        price=j.text.replace('₹','')
        sprice_list.append(price)
    #sprice_list
    pd_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for k in pd_tags:
        pd=k.text
        spd_list.append(pd)
    #spd_list
    off_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for l in off_tags:
        off=l.text
        soff_list.append(off)
    #soff_list
    next_btn = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')[-1]
    next_btn.click()
    time.sleep(10)

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6424/2152788099.py:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6424/2152788099.py:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6424/2152788099.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pd_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6424/2152788099.py:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  off_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_6424/2152788099.py:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  next_btn = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')[-1]

In [27]:
import pandas as pd
sneak=pd.DataFrame({})
sneak['Brand']=sbrand_list[0:100]
sneak['Product Description']=spd_list[0:100]
sneak['Price']=sprice_list[0:100]
sneak['Off']=soff_list[0:100]

In [28]:
sneak

,Brand,Product Description,Price,Off
0,PUMA,Puma Smash v2 Buck Sneakers For Men,"1,749",50% off
1,RED TAPE,Classic Sneakers For Men,"1,398",75% off
2,URBANBOX,Super Stylish & Trendy Combo Pack of 02 Pairs ...,220,77% off
3,Chevit,Modern Trendy Sneakers Shoes Sneakers For Men,536,66% off
4,BRUTON,Sports Running Shoes Sneakers For Men,299,76% off
...,...,...,...,...
95,RED TAPE,Fashion Outdoor Canvas Casual Light Weight Lac...,"1,423",40% off
96,BIRDE,Delta Mid Nu Sneakers For Men,299,75% off
97,Chevit,Sneakers For Men,447,50% off
98,Robbie jones,Combo Pack of 5 Casual Sneakers Sneakers For Men,499,30% off
99,Neeman's,Sneakers For Men,"2,099",81% off

In [29]:
driver.close()

# Q7

In [2]:
s = Service('D:/Data_Science/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome(service=s)

In [3]:
#Getting the Webpage
driver.get('https://www.myntra.com/shoes')

In [4]:
#Filter on Color
color_filter = driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_filter.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/2076774001.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  color_filter = driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')

In [5]:
#Filter on price
price_filter = driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/2820010228.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  price_filter = driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')

In [31]:
shbrand_list=[]
shd_list=[]
shprice_list=[]

In [32]:
import time
while (len(shbrand_list) < 100 or len(shd_list) < 100 or len(shprice_list) < 100 ):
    shbrand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in shbrand_tags:
        sbrand=i.text
        shbrand_list.append(sbrand)
    #shbrand_list
    shprice_tags=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
    for j in shprice_tags:
        sprice=(j.text.split('Rs.')[1])
        shprice_list.append(sprice)
    #shprice_list
    shpd_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for k in shpd_tags:
        shpd=k.text
        shd_list.append(shpd)
    #shd_list
    
    next_btn = driver.find_elements_by_xpath('//a[@rel="next"]')[-1]
    next_btn.click()
    time.sleep(10)

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/4038841526.py:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shbrand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/4038841526.py:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shprice_tags=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/4038841526.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  shpd_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/4038841526.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  next_btn = driver.find_elements_by_xpath('//a[@rel="next"]')[-1]

In [33]:
print(len(shbrand_list),len(shd_list),len(shprice_list))

100 100 100

In [34]:
import pandas as pd
shoes=pd.DataFrame({})
shoes['Brand']=shbrand_list[0:100]
shoes['Product Description']=shd_list[0:100]
shoes['Price']=shprice_list[0:100]

In [35]:
shoes

        Brand                  Product Description   Price
0       ASICS              Men GEL-KAYANO 27 Shoes   10499
1        Puma       Men Deviate Nitro Running Shoe    8249
2      ADIDAS                  Women Running Shoes    7599
3        Puma                    Men Running Shoes    6499
4        Nike           Men Waffle One SE Sneakers    8295
..        ...                                  ...     ...
95   DAVINCHI                  Solid Slip On Shoes    7990
96   DAVINCHI          Men Formal Leather Slip-Ons    8990
97  J.FONTINI  Men Textured Leather Formal Loafers    8990
98   DAVINCHI      Men Solid Leather Formal Derbys    8990
99      ASICS              Men Black Running Shoes    8999

[100 rows x 3 columns]

In [36]:
driver.close()

# Q8

In [37]:
s = Service('D:/Data_Science/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome(service=s)

In [45]:
#Getting the Webpage
driver.get('https://www.amazon.in/')

In [46]:
#Entering the product
searc_prod = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
searc_prod.send_keys('laptop')

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/234035956.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  searc_prod = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")

In [47]:
search_bar = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
search_bar.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/172873455.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_bar = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")

In [50]:
#Filter on CPU - Intel Core i7
cpu_filter = driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/span")
cpu_filter.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/4266050998.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cpu_filter = driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/span")

In [130]:
lprod_list7=[]
lrat_list7=[]
lprice_list7=[]

In [131]:
prod_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in prod_tags:
    prod=i.text
    lprod_list7.append(prod)
#lprod_list7
rat_tags=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
for j in rat_tags:
    rat=j.text
    lrat_list7.append(rat)
#lrat_list7
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for j in price_tags:
    pr=j.text
    lprice_list7.append(pr)
#lprice_list7

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/471307319.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prod_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/471307319.py:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rat_tags=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/471307319.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [132]:
import pandas as pd
li7=pd.DataFrame({})
li7['Title']=lprod_list7[0:10]
li7['Rating']=lrat_list7[0:10]
li7['Price']=lprice_list7[0:10]

In [133]:
li7

                                               Title Rating     Price
0  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...           89,990
1  Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inche...           92,990
2  Mi Notebook Ultra 3.2K resolution display Inte...           77,999
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...           52,999
4  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...           84,990
5  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....           85,990
6  LG Gram 17-inches Ultra-Light Intel Evo 11th G...           98,999
7  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...           89,990
8  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...         1,09,990
9  Lenovo Yoga 7 11th Gen Intel Core i7 14" Full ...           97,557

In [134]:
#UNFilter on CPU - Intel Core i7
cpu_filter = driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/span")
cpu_filter.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/1825482825.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cpu_filter = driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/span")

In [135]:
#Filter on CPU - Intel Core i9
cpu_filter = driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a/span")
cpu_filter.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/1711692955.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cpu_filter = driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a/span")

In [136]:
#Intel Core i9
lprod_list9=[]
lrat_list9=[]
lprice_list9=[]

In [140]:
prod_tags9=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in prod_tags9:
    prod=i.text
    lprod_list9.append(prod)
#lprod_list9
rat_tags9=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
for j in rat_tags9:
    rat=j.text
    lrat_list9.append(rat)
#lrat_list9
price_tags9=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for j in price_tags9:
    pr=j.text
    lprice_list9.append(pr)
#lprice_list9

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/2599860437.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prod_tags9=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/2599860437.py:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rat_tags9=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/2599860437.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tags9=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [141]:
import pandas as pd
li9=pd.DataFrame({})
li9['Title']=lprod_list9[0:10]
li9['Rating']=lrat_list9[0:10]
li9['Price']=lprice_list9[0:10]

In [142]:
#Intel Core i9
li9

                                               Title Rating     Price
0  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...         1,52,890
1  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...         1,48,980
2  ASUS ROG Strix Scar III G531GW 15.6" FHD 240Hz...         2,65,999
3  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...         2,25,000
4  (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...         2,01,900
5  Dell XPS 7590 39.62 cm (15.6-inch) UHD Display...         3,75,000
6  Dell XPS 17 (2021) i9-11900H Touch Screen Lapt...         2,07,990
7  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...         2,45,000
8  HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...         2,39,000
9  Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz ...         1,52,890

In [145]:
driver.close()

# Q9

In [146]:
s = Service('D:/Data_Science/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome(service=s)

In [147]:
#Getting the Webpage
driver.get('https://www.ambitionbox.com/')

In [148]:
job_otn = driver.find_element_by_xpath("//a[@class='link jobs']")
job_otn.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/2841390152.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  job_otn = driver.find_element_by_xpath("//a[@class='link jobs']")

In [149]:
#Entering the Skill, Designations, Companies field
search_job = driver.find_element_by_xpath("//input[@name='ab_jobsSearch']")
search_job.send_keys('Data Scientist')

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/662263052.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job = driver.find_element_by_xpath("//input[@name='ab_jobsSearch']")

In [150]:
search_btn = driver.find_element_by_xpath("//span[@class='ctas-btn-medium']")
search_btn.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/4079627772.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//span[@class='ctas-btn-medium']")

In [155]:
loc_btn = driver.find_element_by_xpath("//div[@title='Location']")
loc_btn.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/4017461670.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc_btn = driver.find_element_by_xpath("//div[@title='Location']")

In [156]:
search_loc = driver.find_element_by_xpath("//input[@placeholder='Search locations']")
search_loc.send_keys('Noida')

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/335554588.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc = driver.find_element_by_xpath("//input[@placeholder='Search locations']")

In [158]:
select_loc = driver.find_element_by_xpath("//label[@for='location_Noida']")
select_loc.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/2466534490.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  select_loc = driver.find_element_by_xpath("//label[@for='location_Noida']")

In [195]:
compnay_list = []
num_days_post = []
rating_list = []

In [196]:
comp_name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in comp_name:
    cnmae=i.text
    compnay_list.append(cnmae)
#compnay_list
nodays=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
for j in nodays:
    days=(j.text)
    num_days_post.append(days)
#num_days_post
comp_rat=driver.find_elements_by_xpath("//span[@class='body-small']")
for j in comp_rat:
    crat=(j.text)
    rating_list.append(crat)
#rating_list

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/1933103552.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp_name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/1933103552.py:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nodays=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/1933103552.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp_rat=driver.find_elements_by_xpath("//span[@class='body-small']")

In [197]:
import pandas as pd
ds_job=pd.DataFrame({})
ds_job['Company Name']=compnay_list[0:10]
ds_job['No. of days ago when job was posted']=num_days_post[0:10]
ds_job['Rating of the company']=rating_list[0:10]

In [198]:
ds_job

,Company Name,No. of days ago when job was posted,Rating of the company
0,LG Electronics India Pvt. Ltd.,9d ago,4.1
1,GENPACT India Private Limited,16d ago,4.0
2,GENPACT India Private Limited,16d ago,4.0
3,NTT Data Business Solutions Pvt Ltd,17d ago,3.8
4,GENPACT India Private Limited,18d ago,4.0
5,Paytm,3d ago,3.7
6,GI Group,2d ago,4.0
7,GI Group,2d ago,4.0
8,GI Group,2d ago,4.0
9,Steria India Ltd,1mon ago,4.1

In [199]:
driver.close()

# Q10

In [200]:
s = Service('D:/Data_Science/chromedriver_win32/chromedriver.exe')
driver = webdriver.Chrome(service=s)

In [201]:
#Getting the Webpage
driver.get('https://www.ambitionbox.com/')

In [202]:
sal_otn = driver.find_element_by_xpath("//a[@class='link salaries']")
sal_otn.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/3168901862.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sal_otn = driver.find_element_by_xpath("//a[@class='link salaries']")

In [204]:
#Entering the Job Profile
job_profile = driver.find_element_by_xpath("//input[@id='jobProfileSearchbox']")
job_profile.send_keys('Data Scientist')
job_prof = driver.find_element_by_xpath("//p[@class='tt_text']")
job_prof.click()

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/1848348971.py:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  job_profile = driver.find_element_by_xpath("//input[@id='jobProfileSearchbox']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/1848348971.py:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  job_prof = driver.find_element_by_xpath("//p[@class='tt_text']")

In [228]:
compnay_name = []
total_salary = []
average_salary = []
min_salary = []
max_salary = []
exp_required = []

In [229]:
compa_name=driver.find_elements_by_xpath("//div[@class='name']")
for i in compa_name:
    comnmae=(i.text.split('\n')[0])
    compnay_name.append(comnmae)
#compnay_name
tot_sal=driver.find_elements_by_xpath("//div[@class='name']")
for i in tot_sal:
    tsal=(i.text.split('\n')[1])
    total_salary.append(tsal)
#total_salary
avg_sal=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avg_sal:
    asal=i.text
    average_salary.append(asal)
#average_salary
min_sal=driver.find_elements_by_xpath("//div[@class='salary-values']")
for i in min_sal:
    misal=(i.text.split('\n')[0])
    min_salary.append(misal)
#min_salary
max_sal=driver.find_elements_by_xpath("//div[@class='salary-values']")
for i in max_sal:
    masal=(i.text.split('\n')[1])
    max_salary.append(masal)
#max_salary
exp_req=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for i in exp_req:
    expr=(i.text.split('\n')[2])
    #expr=i.text
    exp_required.append(expr)
#exp_required

C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/3442836597.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  compa_name=driver.find_elements_by_xpath("//div[@class='name']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/3442836597.py:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  tot_sal=driver.find_elements_by_xpath("//div[@class='name']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/3442836597.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avg_sal=driver.find_elements_by_xpath("//p[@class='averageCtc']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/3442836597.py:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  min_sal=driver.find_elements_by_xpath("//div[@class='salary-values']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/3442836597.py:21: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  max_sal=driver.find_elements_by_xpath("//div[@class='salary-values']")
C:\Users\DELLUS~1\AppData\Local\Temp/ipykernel_4640/3442836597.py:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp_req=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")

In [230]:
import pandas as pd
ds_sal=pd.DataFrame({})
ds_sal['company name']=compnay_name[0:10]
ds_sal['total salary record']=total_salary[0:10]
ds_sal['average salary']=average_salary[0:10]
ds_sal['minimum salary']=min_salary[0:10]
ds_sal['maximum salary']=max_salary[0:10]
ds_sal['experience required']=exp_required[0:10]

In [231]:
ds_sal

,company name,total salary record,average salary,minimum salary,maximum salary,experience required
0,Ab Inbev,based on 20 salaries,₹ 19.0L,₹ 15.0L,₹ 23.0L,3-4 yrs exp
1,ZS,based on 12 salaries,₹ 15.3L,₹ 9.8L,₹ 19.5L,2 yrs exp
2,Optum,based on 23 salaries,₹ 15.0L,₹ 11.0L,₹ 21.3L,3-4 yrs exp
3,Fractal Analytics,based on 66 salaries,₹ 15.0L,₹ 9.5L,₹ 22.0L,2-4 yrs exp
4,UnitedHealth,based on 47 salaries,₹ 13.5L,₹ 7.2L,₹ 20.5L,2-4 yrs exp
5,Tiger Analytics,based on 26 salaries,₹ 13.5L,₹ 8.3L,₹ 18.5L,3-4 yrs exp
6,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs exp
7,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs exp
8,Ericsson,based on 42 salaries,₹ 11.7L,₹ 5.2L,₹ 21.5L,3-4 yrs exp
9,Deloitte,based on 49 salaries,₹ 11.2L,₹ 6.8L,₹ 20.5L,2-4 yrs exp

In [233]:
driver.close()